<div class="flex flex-col">
    <app-header></app-header>

<div class="flex">
    <app-sidenav > </app-sidenav>
    <div class="w-full min-h-screen bg-primary-light md:left-20 mt-16 md:px-10">
        <!-- Cards Section-->
        <div class="flex flex-col w-full h-fit p-5 justify-center items-center md:justify-evenly gap-10 md:p-10 md:flex-row">
            <!-- Card 1 -->
                <div class="flex text-md w-60 h-32 flex-col bg-white drop-shadow-2xl rounded-xl font-bold hover:cursor-pointer active:bg-primary-light">
                    <span class="w-full bg-card_month h-1 rounded"></span>
                    <span class="p-5 flex flex-col h-full justify-between">
                        <span class="flex justify-between text-card_header_text">
                            <img src="../../../../assets/images/visits_icon.png" alt="Visits">
                            <span>Total</span>
                        </span>
                        <span class="text-card_header_text flex justify-between">
                            <span>Offices</span>
                            <span class="text-black">{{data().length}}</span>
                        </span>
                    </span>
                </div>
            </div>
        <!-- Table Section  -->
        <div class="flex flex-col gap-5 w-full md:px-10 min-h-fit">
            <!-- Actions header -->
            <div class="flex w-full h-11 justify-between">
                <span class="w-12 h-full" class="hidden md:block">
      
                  <button mat-icon-button matTooltip="Back" matTooltipClass="mat-tool-tip" (click)="goBack()"
                    class="text-black bg-primary-light border-none rounded-full">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </span>
                <span class="hidden w-full justify-center items-center md:flex">
                  <input type="text" placeholder="Search" (keyup)="applyFilter($event)" (keydown)="applyFilter($event)"
                    class="rounded-full outline outline-primary-medium outline-1 bg-white py-2 px-4 w-72 text-sm drop-shadow-2xl"
                    #filter>
                  <img src="../../../../assets/images/search_icon.png" alt="search"
                    class="-ml-8 h-4 w-4 hover:cursor-pointer active:w-5 active:h-4 z-20">
                </span>
                <span class="hidden md:block">
                  <button mat-icon-button matTooltip="New office" matTooltipClass="mat-tool-tip"
                    (click)="newOffice()" class="text-black bg-primary-light border-none rounded-full">
                    <mat-icon>add</mat-icon>
                  </button>
                </span>
              </div>

            <!-- Table  -->
            <div class="flex flex-col h-fit w-full drop-shadow-2xl p-3">
                <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
                    <!-- office tag/name Column -->
                  <ng-container matColumnDef="office">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Office
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.office_name }}</td>
                  </ng-container>
      
                  <!-- Floor number Column -->
                  <ng-container matColumnDef="floor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Floor
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.floor.floor_number }}</td>
                  </ng-container>
                  <!-- Building name Column -->
                  <ng-container matColumnDef="building">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Building</th>
                    <td mat-cell *matCellDef="let row">{{ row.floor.building.building_name}}</td>
                  </ng-container>
                  <!-- Orgaanization name Column -->
                  <ng-container matColumnDef="organization">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization</th>
                    <td mat-cell *matCellDef="let row">{{ row.floor.building.organization.organization_name}}</td>
                  </ng-container>
                  <!-- Actions -->
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let item" class="flex gap-2">
                        <button mat-icon-button matTooltip="Edit" (click)="update(item)"
                        class="text-black bg-white border-none w-12 h-12">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Delete" (click)="deleteItem(item.id)"
                        class="text-black bg-white border-none w-12 h-12">
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="View Offices" (click)="details(item.id)"
                        class="text-black bg-white border-none w-12 h-12">
                        <mat-icon>info_outline</mat-icon>
                      </button>
                    </td>
                  </ng-container>
      
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                </table>
      
                <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
              </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
</div>