<div class="header-container top-0 left-0 flex bg-white w-full h-fit z-20 px-2 py-4 fixed items-center justify-between sm:pl-8 sm:pr-8 lg:pr-20 lg:gap-80">
    <img src="../../../../assets/images/AMS-logocropp.jpg" alt="Cintelcore Limited Logo" class="w-32 md:w-72" (click)="navigate('')">
    <span class="flex gap-3 text-sm items-center w-fit h-full">
        <button  class="bg-white text-primary-strong border-none active:bg-primary-medium" (click)="logIn()">Login</button>
        <button (click)="emitContact()" class="w-fit">Contact Us</button>
    </span>
</div>