 <div class="w-full h-full flex flex-col justify-center items-center gap-3" *ngIf="visit">
    <span class="font-bold text-lg">Visit Details</span>
    <div class="flex justify-Between h-fit w-10/12 items-center">
        <span class="flex flex-col w-1/2 items-start justify-between gap-4">
            <span class="flex gap-4" *ngIf="visit.first_name">
                <label for="first_name" class="text-gray-600 font-bold">First Name</label>
                <span class='font-bold'>{{visit.first_name}}</span>
            </span>
            <span class="flex gap-4" *ngIf="visit.id_number">
                <label for="user_name" class="text-gray-600 font-bold">Id Number</label>
                <span class='font-bold'>{{visit.id_number}}</span>
            </span>
            <span class="flex gap-4" *ngIf="visit.organization_name">
                <label for="first_name" class="text-gray-600 font-bold">Organization</label>
                <span class='font-bold'>{{visit.organization_name}}</span>
            </span>
            <span class="flex gap-4" *ngIf="visit.floor_number">
                <label for="user_name" class="text-gray-600 font-bold">Floor</label>
                <span class='font-bold'>{{visit.floor_number}}</span>
            </span>
            <span class="flex gap-4" *ngIf="visit.checkin_time">
                <label for="first_name" class="text-gray-600 font-bold">In</label>
                <span class='font-bold'>{{visit.checkin_time | date:'hh:mm:ss a'}}</span>
            </span>
        </span>
        <span class="flex flex-col w-1/2 items-start justify-between gap-4">
            <span class="flex gap-4" *ngIf="visit.last_name">
                <label for="last_name" class="text-gray-600 font-bold">Last Name</label>
                <span class='font-bold'>{{visit.last_name}}</span>
            </span>
            <span class="flex gap-4" *ngIf="visit.phone_number">
                <label for="email" class="text-gray-600 font-bold">Phone</label>
                <span class='font-bold'>{{visit.phone_number}}</span>
            </span>
            <span class="flex gap-4" *ngIf="visit.building_name">
                <label for="last_name" class="text-gray-600 font-bold">Building</label>
                <span class='font-bold'>{{visit.building_name}}</span>
            </span>
            <span class="flex gap-4" *ngIf="visit.office_name">
                <label for="email" class="text-gray-600 font-bold">Office</label>
                <span class='font-bold'>{{visit.office_name}}</span>
            </span>
            <span class="flex gap-4" *ngIf="visit.checkout_time">
                <label for="email" class="text-gray-600 font-bold">Out</label>
                <span class='font-bold'>{{visit.checkout_time |  date:'hh:mm:ss a'}}</span>
            </span>
        </span>
    </div>
    <span class="flex w-10/12 justify-right">
        <button (click)="cancel()">Cancel</button>
    </span>
</div>
